@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&display=swap');

body {
    background-color: rgb(58, 51, 91);
    color: rgb(225, 175, 198);
    font-family: "DM Serif Text", serif;
}

h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(201, 131, 170);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: rgb(240, 227, 201);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(190, 100, 156);
}
.navbar li{
    float: left;
}

.text-white {
    color: rgb(255, 255, 255);
}

#heading {
    color:rgb(225, 175, 198);
}

.text-pink{
    border-color:rgb(190, 100, 156);

}

.color-pink{
    color:rgb(225, 175, 198);
}


    
}
.navbar {
    position: sticky;
    top: 0;
    overflow: hidden;}

    div.fixed {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 300px;
        border: 3px solid #fbeef8;
      }

 
.no_img{
    width: 430px;
    padding: 4px;
    border: 4px solid white;
    border-radius: 24px;

}
button:hover{
    font-size: medium;
    background-color: #fbeef8;
}

button:active{
    font-size: medium;
    background-color: #f0cbe2;
}
p:hover, h1:hover, a:hover {
    background-color:#f9eef5;
  }
.contacts{
        text-align: center;
}

.pink a{
    color: rgb(225, 175, 198);
    text-decoration: none;
    font-family: "DM Serif Text", serif;
}